@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

$phoneWidth: 360px;
$tabletWidth: 768px;
$desktopWidth: 1366px;
$LGdesktop: 1920px;

$mainFont: "Ubuntu", sans-serif;

$darkgreen: #006400;
$darkorchid: #9932CC;
$lightslategrey: #778899;
